# Use s: single-end Illumina, d: double-end Illumina, n: ONT for alignment with minimap2
SEQUENCING_TYPE: "d"

# Need complete path for the BED file
PRIMER_BED: ""

# Allele frequency threshold based masking to accomodate sequencing errors: Illumina: 0.5%, Ion Torrent: 1.5%, ONT: 2%
MIN_AF: "0.005"

# Mask any site with depth below this threshold
MIN_DEPTH: "10"

# Mask any allele with base quality score below this threshold
MIN_Q: "20"

# Min proportion for haplotype detection: Wastewater: 0.5%, Clinical Data: 5%
MIN_PROP: "0.005"

# Min read Length after ivar trimming: DEFAULT: 80
MIN_LEN: "80"

# Subsampling Reads to reduce WEPP's runtime
MAX_READS: "1000000000"

# True to view WEPP results on dashboard, otherwise False. 
DASHBOARD_ENABLED: False 

# Does not ask to add pathogen species at runtime if False
ADD_SPECIES_RUNTIME: True

# Arguments for WEPP that can be customized by pathogens
PATHOGENS: "default,sars_cov_2"

CLADE_LIST: ",nextstrain:pango"

CLADE_IDX: "-1,1"

# Argumnets for deciding when to run WEPP
MIN_DEPTH_FOR_WEPP: "10"

MIN_PROP_FOR_WEPP: "0.01"