name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  Run-metaWEPP:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    name: Deploy Job
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt-get install -y minimap2
          elif [ "$RUNNER_OS" == "macOS" ]; then
            brew install minimap2
          fi
          pip install viral_usher matplotlib snakemake pandas

      - name: Run metaWEPP
        run: |
          snakemake test --cores 1
