name: ci
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:
  Run-metaWEPP:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    name: Deploy Job
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          key: ${{ github.ref }}-${{ matrix.os }}
          path: .cache

      - name: Install Dependencies
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt-get update
            sudo apt-get install -y minimap2
            wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/download/24.11.3-2/Miniforge3-24.11.3-2-Linux-x86_64.sh"
            bash Miniforge3.sh -b -p "${HOME}/conda"
            echo "${HOME}/conda/bin" >> $GITHUB_PATH
          elif [ "$RUNNER_OS" == "macOS" ]; then
            export HOMEBREW_NO_AUTO_UPDATE=1
            export HOMEBREW_NO_INSTALL_CLEANUP=1
            brew install minimap2
            
            if [[ $(uname -m) == 'arm64' ]]; then
             MINIFORGE_FILE="Miniforge3-24.11.3-2-MacOSX-arm64.sh"
            else
              MINIFORGE_FILE="Miniforge3-24.11.3-2-MacOSX-x86_64.sh"
            fi
          
            wget -O Miniforge3.sh "https://github.com/conda-forge/miniforge/releases/download/24.11.3-2/${MINIFORGE_FILE}"
            bash Miniforge3.sh -b -p "${HOME}/conda"
            echo "${HOME}/conda/bin" >> $GITHUB_PATH
          fi

      - name: Install Python Libs
        run: |
          pip install viral_usher matplotlib snakemake pandas

      - name: Run metaWEPP
        run: |

          run-metawepp() {
              snakemake -s "$GITHUB_WORKSPACE/Snakefile" "$@"
          }
          export -f run-metawepp

          run-metawepp help --cores 1
